* {
    text-align: center;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    flex-wrap: wrap;
    height: 70px;
    background-color: rgb(87, 247, 194);
}